//======================================== --> GERAL <--===============================================
body {
    font-family: "Helvetica Neue", Arial, "Noto Sans", sans-serif; // HELVETICA NEUE (PADRÃO)
}
//======================================== --> /GERAL <--===============================================

//======================================== --> HEADER <--===============================================
.pre-nav {
    padding: 10px 50px;
    background-color: #f1f1f1;

    ul {
        list-style: none;
        margin: 0;

        li {
            display: inline;
        }
    }

    i {
        color: #ee6434;
        font-size: 17px;
    }

    .pre-nav-icons i {
        font-size: 25px;
        transition: all 0.3s ease-in;
    }

    .pre-nav-icons i:hover {
        color: $cor-secundaria;
    }

    .pre-nav-text {
        color: #8889ac;
        font-size: 17px;

        strong {
            color: #8889ac;
        }
    }
}

nav {
    padding: 0 50px !important;

    .navbar-brand img {
        width: 125px;
    }

    a {
        font-weight: 700;
        color: #8889ac;
        font-size: 17px;
        transition: all 0.2s ease-in-out;
    }

    a:hover {
        color: #ee6434 !important;
    }
}
//======================================== --> /HEADER <--===============================================

//======================================== --> FOOTER <--===============================================

//======================================== --> /FOOTER <--===============================================

//======================================== --> INDEX <--===============================================

//======================================== --> /INDEX <--===============================================
