// =================================== --> MAX-WIDTH <-- =====================================================
@media (max-width: 832px) {
    .pre-nav {
        display: none;
    }
}

@media (max-width: 322px) {
    nav .navbar-brand img {
        width: 100px;
    }
}
// =================================== --> /MAX-WIDTH <-- =====================================================

// =================================== --> MIN-WIDTH <-- =====================================================

// =================================== --> /MIN-WIDTH <-- =====================================================